<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itl.c85360673.u3ocultartecladoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EjemploMenuEnComunActivity"></activity>
        <activity android:name=".MenuContextualFlotanteActivity" />
        <activity android:name=".MenuPopupActivity" />
        <activity android:name=".MenuModoAccionContextualActivity" />
        <activity android:name=".MenuComunActivity" />
        <activity android:name=".TercerActivity" />
        <activity android:name=".SegundoActivity" />
        <activity android:name=".AcercaDeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>